*{padding: 0;margin: 0;font-size: 14px;}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header1 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.contBox{
  display: flex;
  position: fixed;
  top:50px;
  bottom: 50px;
  width: 100%;
  min-width: 1300px;
  justify-content: center;
  background: #f2f2f2;
}
.cont{
  display: flex;
  width: 1300px;
  background: white;
  color: #666666;
}
.nav{
  width: 239px;
  border-right: 1px solid #E7F4FF;
}
.nav div{
  padding: 0 20px;
  line-height: 40px;
  cursor: pointer;
	border-bottom: 1px solid #E8E8E8;
}
.nav li{
  padding: 0 10px;
	border-top: 1px solid #E8E8E8;
	color: #666666;
}
.nav a{
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: inline-block;
}
.nav .active{
	color: #20aed4;
}
.sub-menu{
  display: none;
}
.nav .show{
	display: block!important;
}
.right{
  flex:1;
  overflow-y: auto;
}
.about img{
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 120px;
}
header{
  height: 50px;
  overflow: hidden;
  background: #20aed4;
  min-width: 1300px;
}
header div{
  width: 1300px;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}
header div span:first-child{
  margin-left: 20px;
}
header div span:last-child{
  margin-right: 30px;
  cursor: pointer;
}
footer{
  margin:0 auto;
  width: 100%;
  line-height: 50px;
  height: 50px;
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  background: #E8E8E8;
}
li{list-style: none;}
a{text-decoration: none;color: inherit;}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 1300px;
}
.login>div{
  width: 400px;
  min-height: 300px;
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  padding:30px;
}
.login>div input{
  width: 390px;
  border: 1px solid #E8E8E8;
  line-height: 40px;
  outline: none;
  margin-bottom: 30px;
  padding: 0 5px;
  border-radius: 5px;
}
.login>div>p{
  line-height: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.login>div button{
  width: 100%;
  line-height: 40px;
  background: #61DAFB;
  border: none;
  color: white;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.login>div>p.goregister{
  line-height: 40px;
  text-align: right;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
  color: #999999;
}
.App,.cont{
  height: 100%;
}
